.deck {
    background-color: #222831;
    padding: 15px 9%;
    padding-bottom: 100px;
    height: 100%;
}

.deck .deck-box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
   gap: 15px;
}

.deck .deck-box-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: #393e46;
    text-align: center;
    padding: 15px 10px;
    color: white;
   
    
}

.deck .deck-box-container img {
    width: 100px;
    height: 100px;
    border-radius: 5%;
}

.deck .deck-box-container .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
    cursor: pointer;
}

.deck-title {
    width: 100%; 
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: xx-large;
    color: #275EFE;
}

.delete-div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.delete {
    --background: #FF0000;
    
    --text: #black;
    
    display: flex;
    outline: none;
    cursor: pointer;
    border: 0;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 11px;
    line-height: 16px;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
    color: var(--text);
    background: var(--b, var(--background));
    transition: transform 0.15s ease-in-out 0s;
    transform: scale(var(--scale, 1)) translateZ(0);
}

.delete:hover {
    transform: scale(1.1);
}
