.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.close {
    --background: #FF0000;
    
    --text: #black;
    
    display: flex;
    outline: none;
    cursor: pointer;
    border: 0;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 11px;
    line-height: 24px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    overflow: hidden;
    color: var(--text);
    background: var(--b, var(--background));
    transition: transform 0.15s ease-in-out 0s;
    transform: scale(var(--scale, 1)) translateZ(0);
}

.close:hover {
    transform: scale(1.1);
}


.upper,
.lower {
    display: flex;
    gap: 3vw;

}




.name,
.status,
.species,
.location{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    
  background: #ecf0f3;
  padding: 5px;
  padding-left: 20px;
  height: 35px;
  font-size: 14px;
  border-radius: 50px;
  width: 190px;
  
  border-style: none;
}



.tasksContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add {
    cursor: pointer;
    
    --background: #275EFE;
    --background-hover: #1D4FE1;
    --text: #fff;
    --icon: #fff;
    display: flex;
    outline: none;
    cursor: pointer;
    border: 0;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 11px;
    line-height: 24px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    overflow: hidden;
    color: var(--text);
    background: var(--b, var(--background));
    
    transform: scale(var(--scale, 1)) translateZ(0);
    transition: transform 0.15s ease-in-out 0s;
    margin-top: 15px;
    margin-bottom: 15px;
}



.add:hover {
    transform: scale(1.1);
}

