@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  
  justify-content: space-between;
}


.navbar h1 {
  color: #0ea5e9;
}
.navbar h1 {
  margin-left: auto;
}
.navbar h1 {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar h1:hover {
    color: white;
    cursor: pointer;
}

.input {
  border: none;
outline: none;
padding: 0.4em 1em;
border-radius: 24px;
background: #7c7c7c2b;
color: white;
font-family: inherit;
font-size: 105%;
width: 180px;

}



.Shuffle {
  display: flex;
  align-items: center;
  gap: 40px; 
}


