@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body {
    width: 100vw;
    height: 100vh;
    margin: 0;
  background-color: #393e46;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  
  padding: 0;
  box-sizing: border-box;
}
