@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body {
    width: 100vw;
    height: 100vh;
    margin: 0;
  background-color: #393e46;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  
  padding: 0;
  box-sizing: border-box;
}
.container {
    background-color: #222831;
    padding: 15px 9%;
    padding-bottom: 100px;
    height: 100%;
}

.container .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); 
   gap: 15px;
}

.container .box-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: #393e46;
    text-align: center;
    padding: 15px 10px;
    color: white;
    
}

img {
    width: 260px;
    height: 300px;
    border-radius: 5%;
}

.container .box-container .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
    cursor: pointer;
}